{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<script type="text/javascript" src="{% static 'ttk.js' %}"></script>
<script type="text/javascript" src="{% static 'setWeaponToHTML.js' %}"></script>

<div class="header">
    <h1>Planetside 2 TTK Calculator</h1>
</div>
<body>
    <div id="spinner">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <br><br>
            <div class="row">
                <div class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="row">
                <h6>Updating database, this can take up to 60 seconds, be patient :)</h6>
            </div>
        </div>
    </div>
    <div id= "main-div" class="container mt-5 pt-5 col-md-5 justify-content-md-center" style="display:none;">
        <div class="row">
            <div class="col-sm-8">
                <h4>Weapon Lookup</h4>
                <div id="autocomplete" class="autocomplete">
                    <input class="autocomplete-input" />
                    <ul class="autocomplete-result-list"></ul>
                </div>
                <br>
                <div id="selectedWeaponDiv" class="row justify-content-md-center" style="visibility:hidden;">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="" id="weapon-image">
                            <div class="card-body">
                            <h5 class="card-title">Selected Weapon</h5>
                            <p class="card-text" id="weapon-name"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-md-center">
                    <div id="manual-calculator" class="col">
                        <h4>Calculate TTK</h4>
                        <label for="distance">Engagement distance:</label><br>
                        <input type="number" id="distance" min="0" onchange="ttk()" ><br><br>
            
                        <label for="velocity">Velocity:</label><br>
                        <input type="number" id="velocity" min="0" onchange="ttk()"><br><br>
            
                        <label for="refire_ms">Refire ms:</label><br>
                        <input type="number" id="refire_ms" min="0" onchange="ttk()"><br><br>
            
                        <label for="shots">Shots:</label><br>
                        <input type="number" id="shots" min="0" onchange="ttk()"><br><br>
            
                        <label for="heavyshield">Heavy shield:</label><br>
                        <input type="checkbox" id="heavyshield" onchange="ttk()"><br><br>
            
                        <label for="ttk_a">TTK:</label>
                        <label id="ttk_result">∞</label>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-bottom">
        <footer class="bg-dark text-center text-white">
            <div class="container p-2 pb-0">
            <!-- Section: Social media -->
                <a class="mb-4 text-white" href="https://github.com/ElReyZero/PS2TTKCalculator" style="text-decoration: none">
                    <button class="btn btn-dark m-0">Check out our Github Repo!</input>
                    <a class="btn btn-light btn-floating m-1" role="button" href="https://github.com/ElReyZero/PS2TTKCalculator">
                        <i class="fa fa-github"></i>
                    </a>
                </a>
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" style="text-decoration: none">El Rey Zero & MilkshakesBot. All assets belong to Daybreak Games</a>
            </div>           
            <!-- Copyright -->
        </footer>
    </div>
</body>



<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<script>
    new Autocomplete('#autocomplete', {
        search : input => {
            const url = `weapons/search/?weapon=${input}`
            return new Promise(resolve => {
                fetch(url)
                .then(response=> response.json())
                .then(data => {
                    resolve(data.data)})
            })
        },
        onSubmit : result =>
        {
            var weapon_object = null;
            new Promise(resolve => {
                fetch(`weapons/search/?object=${result}`)
                .then(response=> response.json())
                .then(data => {
                    resolve(data.data)
                    setWeaponToHTML(data.data)})
            })
        }
    })
</script>
    
<script>
    const spinner = document.getElementById('spinner')
    const mainDiv = document.getElementById('main-div')
    $.ajax({
        type: 'GET',
        url: '/weapons/pushdb',
        success: function (res){
            spinner.style.setProperty('display', 'none')
            mainDiv.style.removeProperty('display')
        },
        error : function (err){
            console.log('An error occurred')
        }
    })
</script>
<div id="weapon-calculator" class="col" style="display:none">
    <h4>Calculate TTK</h4>
    <label for="distance">Engagement distance:</label><br>
    <input type="number" id="distance" min="0" onchange="ttk(false)" ><br><br>

    <p>Velocity:</p>
    <p id="velocity"></p>

    <p>Refire ms:</p>
    <p id="refire_ms"></p>

    <label>Shots:</label><br>
    <input type="number" id="shots" min="0" onchange="ttk(false)"><br><br>

    <label for="heavyshield">Heavy shield:</label><br>
    <input type="checkbox" id="heavyshield" onchange="ttk(false)"><br><br>

    <label for="ttk_a">TTK:</label>
    <label id="ttk_result">∞</label>
</div>

<!-- TTK Calulation (Subject to change):

    ((refire_ms / heavyshield_value) * (shots - 1)) + (distance / velocity);

-->

<!--
    ToDo:
    - Add a shield select dropdown for resist?
    - Figure out the best calculation for the TTK given different values of damange & their shots to kill
    - Polish the code and make it more readable
    - Comment the code / add docstrings
-->

</html>

